.*
!.travis.yml
.recommenders
bin/
!/.gitignore
.idea/*
*.[oa]
.metadata/
.project
.sublime*
*.log
JavaScript-Project/
fonts/
formation-angularjs
M*.txt
*.zip
*.tar
*.tar.gz
*.jar
node_modules/
